

.main-div{
  width: 25%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  display: none;
   font-family: 'Nunito', sans-serif;
}


h3{
  text-indent: 25px;
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button {
  background: #518256;
  color: #fff;
  border: 1px solid #518256;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover{
  background: #fff;
  color: #518256;
  border: 1px solid #518256;
  cursor: pointer;
}

#back {
  background: #fff;
  color: #518256;
  border: 1px solid #518256;
  cursor: pointer;
}

.pass-div{
  width: 25%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  display: none;
   font-family: 'Nunito', sans-serif;
}



.pass-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.pass-div input:focus {
  border: 1px solid #777;
}

.pass-div button {
  background: #518256;
  color: #fff;
  border: 1px solid #518256;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.pass-div button:hover{
  background: #fff;
  color: #518256;
  border: 1px solid #518256;
  cursor: pointer;
}


